# el proposito de este archivo es ignorar archivos que no deben ser subidos al repositorio

# Ignorar la carpeta env
env/

ejecutables_ruben.txt
qr_code.png
qr_form.html

cert.pem
key.pem
=======
.env
# Ignorar archivos de configuración 

# mensaje prueba
