body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}
.fecha_p{
    text-align: right;
    margin:0 0 0.7rem 0;   
    
}
.reloj{
    margin: 0 0 0.4rem 0;
    position: absolute;
}
h1{
    margin-top:0;
}
.fecha-reloj{
    display:flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;


}

.formulario-verificacion {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}
.formulario-verificacion__titulo-principal {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.seccion {
    margin-bottom: 20px;
}

.seccion__titulo {
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.seccion__divisor {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}
.campo {
    margin-bottom: 15px;
}
.campo__etiqueta {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.campo__control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}
.campo__control--area-texto {
    min-height: 80px;
    resize: vertical;
}
.grupo-opciones {
    margin-bottom: 10px;
    margin-top: 5px;
}
.grupo-opciones__opcion {
    font-weight: normal;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    color: #333;
}
.grupo-opciones__control {
    margin-right: 5px;
    vertical-align: middle;
}
.boton {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.boton--primario {
    background-color: #28a745;
    color: white;
}
.boton--secundario {
    background-color: #ffc107;
    color: #333;
}
.seccion--desplegable .seccion__resumen {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
}
.campo-firma {
    border: 1px dashed #ccc;
    height: 100px;
    background-color: #fdfdfd;
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 0.9em;
    margin-top:5px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
