html, body{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url('/RESOURCE/IMG/fondo-cfe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100vw;
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.img-encabezado{
    width: 100vw;
    background-color: #005f3e;
    outline: 1px solid black;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5rem;
}
.img-encabezado__logo {
    width: 9rem;
}
.contenedor__item--img{
        width: 60px;
    height: 60px;
    object-fit: cover;
        border-radius: 50%;
}
.contenedor__item--equipos{
    padding: 0 !important;
    font-size: inherit;
    width: 100% !important;
}

.contenedor__item{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #00724e;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 80vw; /*CON ESTE VALOR SE MODIFICA EL ANCHO DE LOS a CONTENEDORES*/
    height: 60px;
}

.contenedor__item:hover {
    background-color: #005f3e;
}


.contenedor__item__text {
    text-align: center;
    font-size: 16px;
}

@media screen and (min-width: 640px) {

    a {
        width: 60vw; /*CON ESTE VALOR SE MODIFICA EL ANCHO DE LOS a CONTENEDORES*/
        height: 5rem;
    }
    .contenedor__item--img {
        width: 80px;
        height: 80px;
    }
    .contenedor:first-child a {
        outline: 1px solid black;
    }
    .contenedor__item--rij{
        margin-top: 5rem;


    }
    .img-encabezado__logo{
        width: 9rem;
    }
}

/*select de mantenimeinto*/
.opciones_mantenimiento {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}
select {
    border: none;
    width: 100%;
}
select option{
    
    text-align: left;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.btn-flotante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	border-radius: 20px; 
	background-color: #00724e; 
	padding: 10px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
}
.btn-flotante img {
    margin-bottom: 0.5rem;
    width: 2rem;
}
.btn-flotante div, a {
    color:white;
    text-decoration: none;
    font-size: 12px;

}
