<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CÁMARA</title> 
    <link rel="stylesheet" href="/RESOURCE/CSS/camara.css">
    
</head>
<body>
    <div class="container">
        <h1>Cámara Móvil</h1>
        
        <div class="video-container">
            <video id="video" autoplay playsinline></video>
        </div>

        <div class="controls">
            <button id="startButton">Iniciar</button>
            <button id="snapButton" disabled>Tomar Foto</button>
            <button id="stopButton" disabled>Apagar camara</button> 
            <button id="clearButton" disabled>Limpiar fotos</button> 
        </div>

        <div class="output">
            <h2>Fotos Capturadas</h2> 
            <canvas id="canvas" style="display:none;"></canvas>
            <div id="photosContainer">
                <!--  imagenes capturadas -->
            </div>
        </div>
        
        <button id="btnGenerarPDF">Generar PDF de fotos</button> <!-- Botón para PDF -->
        <a href="/TEMPLATES/formato_RIJ.html" class="boton--secundario" id="link-formulario">Ir al formulario</a>
        <p id="status"></p>
    </div>


    <script src="/RESOURCE/JS/fotos_upload.js"></script>
    <script src="/RESOURCE/JS/autoguardado_camara.js"></script>
    <script src="/RESOURCE/JS/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="/RESOURCE/JS/pdf_fotos.js"></script>
    <script async src="https://docs.opencv.org/4.x/opencv.js" onload="onOpenCvReady();"></script>
</body>
</html>