<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CÁMARA</title> 
    <link rel="stylesheet" href="/RESOURCE/CSS/camara.css">
</head>
<body>
    <div class="container">
        <h1>Cámara Móvil</h1>
        
        <div class="video-container">
            <video id="video" autoplay playsinline></video>
        </div>

        <div class="controls">
            <button id="startButton">Iniciar Cámara</button>
            <button id="snapButton" disabled>Tomar Foto</button>
            <button id="stopButton" disabled>Volver a capturar</button> 
        </div>

        <div class="output">
            <h2>Fotos Capturadas</h2> 
            <canvas id="canvas" style="display:none;"></canvas>
            <div id="photosContainer">
                <!--  imagenes capturadas -->
            </div>
        </div>
 
        <p id="status"></p>
    </div>
    <a href="index2.html">IR A OPCION 2 DE CAMARAS</a> 

    <script src="/RESOURCE/JS/index.js"></script>
    
</body>
</html>