<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de Sesión CFE</title>
    <link rel="icon" href="/RESOURCE/IMG/logo.png" type="image/x-icon">   

    <link rel="stylesheet" href="/RESOURCE/CSS/login.css" />
</head>

<body>
    <div class="login">
        <div class="login__logo">
            <img class="login__logo-img"
                src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Logo_neutral_de_la_Comisi%C3%B3n_Federal_de_Electricidad.svg"
                alt="Logo CFE" />
        </div>
        <h1 class="login__titulo-sistema">
            Sistema CFE de registro de evidencias y formatos de mantenimiento
        </h1>
        <h2 class="login__titulo">Iniciar Sesión</h2>

        <form id="formulario-login" class="login__formulario">
            <div class="login__campo">
                <label class="login__label" for="contrasena">Contraseña:</label>
                <input class="login__input" type="password" id="contrasena" name="contrasena" required />
            </div>
            <div class="login__campo">
                <input type="checkbox" id="mostrar-contrasena" name="mostrar-contrasena" />
                <label class="login__label-checkbox" for="mostrar-contrasena">Mostrar contraseña</label>
            </div>
            <button class="login__boton" type="submit">Ingresar</button>
        </form>
        <div id="mensaje-error" class="login__mensaje-error" style="display: none; color: red; margin-top: 10px; text-align: center;"></div>
    </div>
    <script src="/RESOURCE/JS/login.js"></script>
</body>

</html>