<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMATOS</title>
    <link rel="stylesheet" href="/RESOURCE/CSS/globalPageLoadStyles.css">
    <link rel="stylesheet" href="/RESOURCE/CSS/menu.css">
    <style>
    </style>
</head>
<body>
    <div class="img-encabezado">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Logo_neutral_de_la_Comisi%C3%B3n_Federal_de_Electricidad.svg" alt="Logo de comision federal de electricidad" class="img-encabezado__logo">


    </div>
    <div class="contenedor">

        <a href="formato_RIJ.html" class="contenedor__item contenedor__item--rij">
            <img src="/RESOURCE/IMG/equipo-arcus-global-7.jpg" alt="Formato rij" class="contenedor__item--img " >
            <p class="contenedor__item__text">FORMATO RIJ</p>
        </a>


        <a href="/TEMPLATES/camara.html" class="contenedor__item contenedor__item--rim">
            <img src="/RESOURCE/IMG/equipo-arcus-global-7.jpg" alt="Formato rim" class="contenedor__item--img">
            <p class="contenedor__item__text">FORMATO RIM</p>
        </a>


        <div class="contenedor__item">
            <img src="/RESOURCE/IMG/equipo-arcus-global-7.jpg" alt="Formato rm" class="contenedor__item--img">
            <select class="contenedor__item contenedor__item--equipos" onchange="redirigir(this.value)">
                <option value="#">FORMATO MANTENIMIENTO</option>
                <option value="\TEMPLATES\Mantenimiento\computo.html">Equipo de cómputo</option>
                <option value="\TEMPLATES\Mantenimiento\tableta.html">Tabletas</option>
                <option value="\TEMPLATES\Mantenimiento\celular.html">Dolphin</option>
                <option value="/TEMPLATES/Mantenimiento/telecomunicaciones.html">Inspección de salas de Telecomunicación</option>
            </select>
        </div>
    </div>
    <a href="/RESOURCE/RIJ ENE A DIC 2025.pdf" class="btn-flotante">
    <img src="RESOURCE/IMG/pdf-icono.png" alt="Icono-camara">
    <div>
        <span>Código 100 </span>
    </div>
   
</a>
    

    <!--Redireccionar en el select-->
    <script>
    function redirigir(ruta) {
        if (ruta) {
            window.location.href = ruta;
        }
    }
    </script>
    <script src="/RESOURCE/JS/forzarCargaCSS.js" defer></script>
</body>
</html>
