<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMATOS</title>
    <link rel="stylesheet" href="/Resource/CSS/menu.css">
    <style>
    </style>
</head>
<body>
    <div class="img-encabezado">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Logo_neutral_de_la_Comisi%C3%B3n_Federal_de_Electricidad.svg" alt="Logo de comision federal de electricidad" class="img-encabezado__logo">


    </div>
    <div class="contenedor">

        <a href="formato_RIJ.html" class="contenedor__item contenedor__item--rij">
            <img src="https://scontent.ftgz3-1.fna.fbcdn.net/v/t39.30808-6/474706181_122191527698103368_1838196199101217385_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFUgdZud6YmjVj2Fv1tOZHhbB3WcYXU-UVsHdZxhdT5RX7s5vpr8enJx-snK3WOUmdmGFGAOOkIJggpTyQGq9nc&_nc_ohc=GVsSR7eYqfwQ7kNvwHuRfUm&_nc_oc=AdlSNDjsYPlJE8O7UWbQCZDyC0EpOrY4OX9Vs55mg4dvncjjtXvADfq_Fs9g3OLA7jucUoMqAT478ZIXC_aL6LxI&_nc_zt=23&_nc_ht=scontent.ftgz3-1.fna&_nc_gid=J7Kj9sVivG-t0BhmJwZsuA&oh=00_AfLiFZMcSR4ZEAtm53U_PHPORyplyogxP23ytKXCjS-HpQ&oe=683BBDC9" alt="Formato rij" class="contenedor__item--img " >
            <p class="contenedor__item__text">FORMATO RIJ</p>
        </a>
        <a href="#" class="contenedor__item contenedor__item--rim">
            <img src="https://scontent.ftgz3-1.fna.fbcdn.net/v/t39.30808-6/474706181_122191527698103368_1838196199101217385_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFUgdZud6YmjVj2Fv1tOZHhbB3WcYXU-UVsHdZxhdT5RX7s5vpr8enJx-snK3WOUmdmGFGAOOkIJggpTyQGq9nc&_nc_ohc=GVsSR7eYqfwQ7kNvwHuRfUm&_nc_oc=AdlSNDjsYPlJE8O7UWbQCZDyC0EpOrY4OX9Vs55mg4dvncjjtXvADfq_Fs9g3OLA7jucUoMqAT478ZIXC_aL6LxI&_nc_zt=23&_nc_ht=scontent.ftgz3-1.fna&_nc_gid=J7Kj9sVivG-t0BhmJwZsuA&oh=00_AfLiFZMcSR4ZEAtm53U_PHPORyplyogxP23ytKXCjS-HpQ&oe=683BBDC9" alt="Formato rim" class="contenedor__item--img">
            <p class="contenedor__item__text">FORMATO RIM</p>
        </a>


        <div class="contenedor__item">
            <img src="https://scontent.ftgz3-1.fna.fbcdn.net/v/t39.30808-6/474706181_122191527698103368_1838196199101217385_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFUgdZud6YmjVj2Fv1tOZHhbB3WcYXU-UVsHdZxhdT5RX7s5vpr8enJx-snK3WOUmdmGFGAOOkIJggpTyQGq9nc&_nc_ohc=GVsSR7eYqfwQ7kNvwHuRfUm&_nc_oc=AdlSNDjsYPlJE8O7UWbQCZDyC0EpOrY4OX9Vs55mg4dvncjjtXvADfq_Fs9g3OLA7jucUoMqAT478ZIXC_aL6LxI&_nc_zt=23&_nc_ht=scontent.ftgz3-1.fna&_nc_gid=J7Kj9sVivG-t0BhmJwZsuA&oh=00_AfLiFZMcSR4ZEAtm53U_PHPORyplyogxP23ytKXCjS-HpQ&oe=683BBDC9" alt="Formato rim" class="contenedor__item--img">
            <select class="contenedor__item contenedor__item--equipos" onchange="redirigir(this.value)">
                <option value="#">FORMATO MANTENIMEINTO</option>
                <option value="\TEMPLATES\Mantenimiento\computo.html">Formato mantenimiento equipo de cómputo</option>
                <option value="\TEMPLATES\Mantenimiento\tableta.html">Formato mantenimiento preventivo tabletas</option>
            </select>
        </div>
    </div>

    <!--Redireccionar en el select-->
    <script>
    function redirigir(ruta) {
        if (ruta) {
            window.location.href = ruta;
        }
    }
    </script>
</body>
</html>
